#species-profile {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;

  .species-label {
    margin: 25px auto 5px;
    border-left: 3px solid var(--ion-color-primary);
    padding-left: 5px;
    font-weight: bold;
    font-size: 0.9em;
    text-transform: uppercase;
  }

  .species-habitats {
    text-transform: capitalize;
  }

  .external-link {
    padding-top: 0;
    padding-bottom: 0;

    a {
      margin: 0 5px;
      text-transform: initial;
    }
  }

  #species-map {
    margin: 0 auto;
    background-color: #474c4a !important;
    width: 100%;
    max-width: 500px;
    height: 200px;
    overflow: hidden;
  }
}
