.survey-list-item {
  border-radius: 10px;
  background: white;
  --border-style: none;
  margin: 6px auto;
  max-width: 600px; // ipad

  ion-item {
    --padding-start: 0;
    --border-style: none;
    --border-radius: 10px;

    ion-label {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .badge-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;
      margin: 3px 0px;

      ion-badge {
        margin-left: 5px;
        background-color: var(--ion-color-dark);
        height: fit-content;
        color: var(--ion-color-light);
        font-weight: 400;
        font-size: 0.8em;
      }
    }
  }

  ion-avatar {
    margin: 5px 10px;
    background: #e7e7e738;
    width: 50px;
    height: 50px;

    ion-icon {
      padding: 10px;
      width: calc(100% - 20px);
      height: calc(100% - 20px);

      --ionicon-stroke-width: 20px;
    }
  }
}
