#surveys-list {
  ion-header {
    ion-badge {
      display: inline;
      margin-left: 10px;
    }

    ion-toolbar {
      --ion-toolbar-background: transparent;

      color: var(--ion-color-main);
      &.md {
        --ion-toolbar-background: white;
      }
      ion-segment {
        z-index: 100000000;
        margin: 8px auto;
        width: 100%;
        max-width: calc(100% - 20px); // padding for lists

        ion-label {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          margin-left: 1px;
        }
      }
    }
  }

  ion-content {
    .info-background-message {
      margin-top: 150px;
    }

    .upload-all-button {
      margin: 20px auto;
      max-width: 60%;
    }
  }
}
