#welcome {
  .swiper {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;

    --bullet-background-active: white;

    ion-button {
      position: absolute;
      bottom: 7%;

      &.skip {
        left: 9%;
      }
      &.next {
        right: 9%;
      }
    }

    .message {
      position: absolute;
      width: 70%;
      padding-left: 10px;
      padding-top: calc(var(--ion-safe-area-top, 0) + 10px);

      // Hack around the tablet hidden message issue
      @media only screen and (min-width: 650px) {
        margin-left: -325px !important;
        left: 50% !important;
      }
    }

    .message p,
    .message h2 {
      padding: 10px;
      color: whitesmoke;
      background-color: var(--ion-color-primary-tint);
    }

    .message p {
      font-size: 0.9em;
    }

    $bottom: 16vh;

    .first {
      background: url('images/welcome_1.jpg') no-repeat;
      background-position: left;
      background-size: cover;

      .message {
        text-align: left;
        left: 10vw;
        top: 1vh;
      }
    }

    .fourth {
      background-position: left;
      background-size: cover;
      .message {
        text-align: left;
        right: 10vw;
        top: 1vh;
      }
    }

    .swiper-pagination-bullets {
      bottom: 2%;

      .swiper-pagination-bullet {
        opacity: 1;
      }

      .swiper-pagination-bullet-active {
        opacity: 0.8;
        background: var(--ion-color-primary);
      }
    }
  }
}
