.app-menu {
  --padding-top: env(safe-area-inset-top) !important;

  img {
    display: block;
    margin: 30px auto;
    width: 80%;
    max-width: 300px;
  }

  .verification-warning {
    --background: #f8fff2;

    ion-note {
      color: #000000;
      font-size: 1em;
    }
    ion-icon {
      color: #000000 !important;
    }

    ion-button {
      float: right;
      color: #000000;
      font-size: 0.9em;
      --border-color: #000000;
      &.md {
        font-size: 0.7em;
      }
    }
  }
}
