#species-profile {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;

  .species-label {
    font-weight: bold;
    border-left: 3px solid var(--ion-color-primary);
    padding-left: 5px;
    text-transform: uppercase;
    margin: 10px auto 5px;
  }

  .species-habitats {
    text-transform: capitalize;
  }

  .species-map img {
    margin-top: 15px;
  }
  .species-map-attribution {
    margin: 10px;
    display: block;
    opacity: 0.8;
  }
}
