@import '@ionic/core/css/core.css';
@import '@ionic/core/css/structure.css';
@import '@ionic/core/css/typography.css';
/* @import '@ionic/core/css/normalize.css'; // not adding because messes up tailwind buttons */

@import '@flumens/ionic/dist/themes/rounded.css';

@import 'tailwindcss';

@source "../../node_modules/@flumens/tailwind";
@source "../../node_modules/@flumens/ionic";

@theme {
  /* https://www.shadecolr.com/#colors=Y29sb3I6MTU2LjUyMTczOTEzMDQzNDc1LDE2LjMxMjA1NjczNzU4ODY1NSwyNy42NDcwNTg4MjM1Mjk0MTN8c3RlcC11cDoxMi45fHN0ZXAtZG93bjo2LjJ8aHVlLXNoaWZ0OjB8YmFzZS1zdG9wOjZ8bmFtZTpzbGF0ZXxsb2NrZWQ6MA%3D%3D&active=color-1&v=2 */
  --color-primary: oklch(41.665% 0.03201 168.69);
  --color-primary-50: oklch(99.031% 0.00106 197.14);
  --color-primary-100: oklch(94.4% 0.00692 174.37);
  --color-primary-200: oklch(85.125% 0.02166 170.52);
  --color-primary-300: oklch(75.516% 0.03438 169.66);
  --color-primary-400: oklch(65.916% 0.04905 167.71);
  --color-primary-500: oklch(54.329% 0.04297 168.46);
  --color-primary-600: oklch(41.665% 0.03201 168.69);
  --color-primary-700: oklch(35.352% 0.02612 168.93);
  --color-primary-800: oklch(28.42% 0.01881 167.64);
  --color-primary-900: oklch(21.293% 0.0132 170.15);
  --color-primary-950: oklch(17.599% 0.00884 169.1);

  /* https://www.shadecolr.com/#colors=Y29sb3I6MTkuMzMzMzMzMzMzMzMzMzM2LDc0Ljk5OTk5OTk5OTk5OTk5LDUyLjk0MTE3NjQ3MDU4ODI0fHN0ZXAtdXA6OC4zfHN0ZXAtZG93bjoxNS40fGh1ZS1zaGlmdDowfGJhc2Utc3RvcDo2fG5hbWU6YnJvd258bG9ja2VkOjA%3D&active=color-1&v=2 */
  --color-secondary: oklch(65.407% 0.16742 43.287);
  --color-secondary-50: oklch(98.789% 0.00448 34.309);
  --color-secondary-100: oklch(95.524% 0.0179 48.528);
  --color-secondary-200: oklch(88.974% 0.04671 46.786);
  --color-secondary-300: oklch(82.574% 0.07712 46.1);
  --color-secondary-400: oklch(76.593% 0.10804 46.348);
  --color-secondary-500: oklch(70.668% 0.13838 45.393);
  --color-secondary-600: oklch(65.407% 0.16742 43.287);
  --color-secondary-700: oklch(51.79% 0.1408 42.318);
  --color-secondary-800: oklch(35.875% 0.09221 42.942);
  --color-secondary-900: oklch(18.185% 0.03482 50.974);
  --color-secondary-950: oklch(0% 0 none);

  /* https://www.tailwindshades.com/#color=278%2C20.833333333333336%2C28.235294117647058&step-up=10&step-down=10&hue-shift=0&name=tertiary&base-stop=7&v=1&overrides=e30%3D */
  --color-tertiary: oklch(37.794% 0.0554 312.68);
  --color-tertiary-50: oklch(94.293% 0.01072 316.49);
  --color-tertiary-100: oklch(90.126% 0.01828 314.73);
  --color-tertiary-200: oklch(81.472% 0.03575 314.06);
  --color-tertiary-300: oklch(72.639% 0.05417 313.69);
  --color-tertiary-400: oklch(63.526% 0.07317 312.43);
  --color-tertiary-500: oklch(54.61% 0.08736 312.65);
  --color-tertiary-600: oklch(46.393% 0.07182 312.66);
  --color-tertiary-700: oklch(37.794% 0.0554 312.68);
  --color-tertiary-800: oklch(28.675% 0.03769 312.71);
  --color-tertiary-900: oklch(18.763% 0.01771 312.69);
  --color-tertiary-950: oklch(13.322% 0.0082 315.38);

  /* https://www.tailwindshades.com/#color=0%2C85.36585365853658%2C59.80392156862745&step-up=8&step-down=11&hue-shift=0&name=danger&base-stop=5&v=1&overrides=e30%3D */
  --color-danger: oklch(63.538% 0.21167 25.6);
  --color-danger-50: oklch(95.437% 0.0196 17.501);
  --color-danger-100: oklch(91.236% 0.04024 17.913);
  --color-danger-200: oklch(83.016% 0.08326 18.986);
  --color-danger-300: oklch(75.547% 0.12772 20.507);
  --color-danger-400: oklch(68.817% 0.17302 22.739);
  --color-danger-500: oklch(63.538% 0.21167 25.6);
  --color-danger-600: oklch(58.728% 0.23449 28.638);
  --color-danger-700: oklch(48.633% 0.19267 28.477);
  --color-danger-800: oklch(38.007% 0.14816 28.152);
  --color-danger-900: oklch(26.604% 0.0996 27.398);
  --color-danger-950: oklch(20.442% 0.07305 26.62);

  /* Success */
  --color-success: var(--color-primary);
  --color-success-50: var(--color-primary-50);
  --color-success-100: var(--color-primary-100);
  --color-success-200: var(--color-primary-200);
  --color-success-300: var(--color-primary-300);
  --color-success-400: var(--color-primary-400);
  --color-success-500: var(--color-primary-500);
  --color-success-600: var(--color-primary-600);
  --color-success-700: var(--color-primary-700);
  --color-success-800: var(--color-primary-800);
  --color-success-900: var(--color-primary-900);
  --color-success-950: var(--color-primary-950);

  /* https://www.tailwindshades.com/#color=23.17241379310345%2C100%2C28.431372549019606&step-up=10&step-down=11&hue-shift=0&name=warning&base-stop=7&v=1&overrides=e30%3D */
  --color-warning: oklch(45.894% 0.1329 44.26);
  --color-warning-50: oklch(95.066% 0.02805 51.848);
  --color-warning-100: oklch(91.566% 0.05062 54.506);
  --color-warning-200: oklch(84.531% 0.09654 52.709);
  --color-warning-300: oklch(78.282% 0.14155 51.411);
  --color-warning-400: oklch(72.885% 0.18105 47.96);
  --color-warning-500: oklch(67.475% 0.20215 42.383);
  --color-warning-600: oklch(57.004% 0.16801 43.272);
  --color-warning-700: oklch(45.894% 0.1329 44.26);
  --color-warning-800: oklch(32.855% 0.09149 46.589);
  --color-warning-900: oklch(18.619% 0.04431 58.553);
  --color-warning-950: oklch(9.2038% 0.0196 73.07);
}

/* tailwind is loaded later than ionic so resets some of the ionic's base styles */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    margin: revert-layer;
  }

  a {
    /* change link colours */
    color: var(--ion-color-primary);
  }
}

h1 {
  @apply my-5 text-2xl;
}
h2 {
  @apply my-2 text-base;
}
h3 {
  @apply my-1 text-base;
}

:root {
  --ion-color-primary: var(--color-primary);
  --ion-color-primary-contrast: var(--color-primary-50);
  --ion-color-primary-shade: var(--color-primary-800);
  --ion-color-primary-tint: var(--color-primary-500);
  --ion-color-primary-dark: var(--color-primary-950);

  --ion-color-secondary: var(--color-secondary);
  --ion-color-secondary-contrast: var(--color-secondary-50);
  --ion-color-secondary-shade: var(--color-secondary-700);
  --ion-color-secondary-tint: var(--color-secondary-500);
  --ion-color-secondary-dark: var(--color-secondary-950);

  --ion-color-tertiary: var(--color-tertiary);
  --ion-color-tertiary-contrast: var(--color-tertiary-50);
  --ion-color-tertiary-shade: var(--color-tertiary-700);
  --ion-color-tertiary-tint: var(--color-tertiary-500);
  --ion-color-tertiary-dark: var(--color-tertiary-950);

  --ion-color-success: var(--color-success);
  --ion-color-success-contrast: var(--color-success-50);
  --ion-color-success-shade: var(--color-success-700);
  --ion-color-success-tint: var(--color-success-500);
  --ion-color-success-dark: var(--color-success-950);

  --ion-color-warning: var(--color-warning);
  --ion-color-warning-contrast: var(--color-warning-50);
  --ion-color-warning-shade: var(--color-warning-700);
  --ion-color-warning-tint: var(--color-warning-500);
  --ion-color-warning-dark: var(--color-warning-900);

  --ion-color-danger: var(--color-danger);
  --ion-color-danger-contrast: var(--color-danger-50);
  --ion-color-danger-shade: var(--color-danger-700);
  --ion-color-danger-tint: var(--color-danger-500);
  --ion-color-danger-dark: var(--color-danger-950);

  --ion-color-dark: var(--color-slate-900);
  --ion-color-dark-contrast: var(--color-slate-50);
  --ion-color-dark-shade: var(--color-slate-950);
  --ion-color-dark-tint: var(--color-slate-800);

  --ion-color-medium: var(--color-slate-400);
  --ion-color-medium-contrast: var(--color-slate-50);
  --ion-color-medium-shade: var(--color-slate-500);
  --ion-color-medium-tint: var(--color-slate-300);

  --ion-color-light: var(--color-white);
  --ion-color-light-contrast: var(--color-slate-950);
  --ion-color-light-shade: var(--color-slate-200);
  --ion-color-light-tint: var(--color-white);

  --form-value-color: var(--color-blue-950);

  --ion-page-background: #f5f7f5;

  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: #fff;
  --ion-toolbar-color-activated: #fff;
}

/* status bar */
html.ios.plt-hybrid #status-bar-background {
  position: fixed;
  top: 0;
  z-index: 1000;
  background: #22382f;
  width: 100vw;
  height: env(safe-area-inset-top);
}

/* info messages */
.info-message.blue,
.attr-page .info-message {
  @apply border-blue-300/40 bg-blue-50 text-blue-950;
}

/* subtle borders around rounded items */
.search-result:nth-child(odd),
.survey-list-item,
.slider-input,
.input-list-attr .input-list-attr-item,
.radio-input-attr ion-item,
#suggestions .empty,
.taxa-filter-edit-dialog-form ion-item,
.rounded-list:not(:empty) {
  border: 1px solid var(--color-neutral-200);
  border-radius: var(--theme-border-radius);
}

/* menu date picker match other input value colors */
.date-input-attr ion-label[slot='end'] {
  opacity: 1 !important;
  color: var(--form-value-color);
  font-size: 1rem;
}

/* list item picture */
.list-avatar {
  @apply flex size-14 shrink-0 items-center justify-center overflow-hidden rounded-md bg-neutral-100;
}

/* top of the list title */
.list-title {
  @apply mx-1 mt-4 mb-3 flex items-center text-base font-semibold;
}

/* top of the list item */
.list-divider {
  @apply bg-primary-700/10 text-primary-900 flex items-center justify-between p-1 px-2 text-sm;
}

/* Make Android icons dark, same as iOS */
ion-icon[slot='start'].md {
  color: var(--ion-text-color, #000);
}

/* unify icon strokes and widths */
ion-icon.size-5,
ion-icon.size-6,
.menu-attr-item ion-icon[slot='start'],
ion-item > ion-icon[slot='start'],
.single-photo-picker ion-icon[slot='start'] {
  --ionicon-stroke-width: 24px;
  width: 24px;
  height: 24px;
}

/* Makes iOS menu items same height as Android */
ion-item .sc-ion-label-ios-h.sc-ion-label-ios-s.ios {
  margin-top: 12px;
  margin-bottom: 12px;
}

/* Make menu item value colours same as form values, e.g. Settings page */
ion-item .sc-ion-label-md-h.sc-ion-label-md-s.md[slot='end'],
ion-item .sc-ion-label-ios-h.sc-ion-label-ios-s.ios[slot='end'] {
  color: var(--form-value-color);
}

/* Unify menu lines with Tailwind package components */
.date-input-attr ion-accordion:last-of-type ion-item[slot='header'],
.list-ios-lines-full ion-item.item-lines-default,
.list-md-lines-full ion-item.item-lines-default {
  --border-width: 0 0 0.5px 0 !important;
  --border-color: #e5e5e5 !important;
}
